* {
  margin:0;
  padding:0;
}

body {
	background:black;
	width:100%;
	height:100%;
	font-family: 'Share Tech Mono', monospace;
}

#game {
	width:100%;
	max-width:300px;
	margin:40px auto;
	opacity: 0;
	transform: translate3d(0px 20px 0px);
	-webkit-transform: translate3d(0px 20px 0px);
}

table {
	width:100%;
	height:300px;
	max-width:300px;
	position:relative;
	margin:40px auto 0 auto;
	border-collapse:collapse;
	color:white;
}

td {
	width:33%;
	height:33%;
	text-align:center;
	font-size:4em;
	padding:0px;
	cursor:pointer;
	-webkit-user-select:none;
}

p {
	position:relative;
	color:white;
	text-align:center;
}

form {
	margin:auto;
	text-align:center;
	margin-top:40px;
}

.button {
	background:black;
	width:100px;
	height:40px;
	border:1px solid white;
	margin:auto;
	text-align:center;
	color:white;
	vertical-align:middle;
	line-height:40px;
	cursor:pointer;
	-webkit-user-select:none;
	transition-duration:0.5s;
	-o-transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
	-moz-transition-duration:0.5s;
}

.button:hover {
	background:#3a0d0f;
	transition-duration:0.5s;
	-o-transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
	-moz-transition-duration:0.5s;
}

input {
	margin-top:20px;
	margin-left:100px;
}

p {
	text-align:left;
}

#messageArea {
	text-align:center;
	margin-top:60px;
	opacity: 0;
	transform: translate3d(0px 20px 0px);
	-webkit-transform: translate3d(0px 20px 0px);
}

.counter {
	width: 100%;
	height: 100px;
	
}

#text-counter {
	width: 100%;
	height: 100px;
	text-align: center;
	font-size: 100px;
	background-color: #3a0d0f;
}

body.hidden {
	opacity: 0;
}

svg {
	margin:40px auto 0 auto;
	position: absolute;
}

#grid {
	opacity: 0;
	min-width: 300px;
	min-height: 300px;
}