body {
	background:black;
}

table {
	width:300px;
	height: 300px;
	position: relative;
	border:1px solid white;
	margin:200px auto 0 auto;
	border-collapse: collapse;
	color:white;
}

td {
	border: 1px solid white;
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 4em;
	padding: 0px;
	cursor: pointer;
	-webkit-user-select: none;
}

tr {
	border: 1px solid white;
}

p {
	position: relative;
	color: white;
	text-align: center;
}